{% extends 'adminbusiness/main/business-layout.html' %}
{% load static %}

{% block title %}
Hirings
{% endblock %}

{% block additional_head %}
<link href="{% static 'css/business-dashboard.css' %}" rel="stylesheet">
<style>
    .container {
        margin-top: 6rem;
    }
</style>
{% endblock %}

{% block main_content %}

<div class="container">
    <div class="m-2">
        <div class="row">
            <div class="col-md-12 offset">


                <div class="card py-2 px-2 table-responsive">

                    <table class="table table-responsive table-white">
                        <tr class="btn-danger">
                            <th>#</th>
                            <th>Service Name</th>
                            <th>Customer</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        {% for hire in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ hire.business_service.service.name }}</td>
                            <td>{{ hire.customer.name }}</td>
                            <td><span class="badge rounded-pill bg-primary">{{hire.get_status_display}}</span></td>

                            <td>
                                {% ifequal hire.get_status_display 'Pending'  %}
                                <a href="{% url 'approve_business_hiring' hire.id %}" onclick="return confirm('Are you sure want to accept the hire request?')" class="btn btn-primary btn-sm">Accept</a>&nbsp;

                                <a href="{% url 'reject_business_hiring' hire.id %}" onclick="return confirm('Are you sure want to reject the hire request?')" class="btn btn-danger btn-sm">Reject</a>
                                {% endifequal %}
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}