{% extends 'adminbusiness/main/business-layout.html' %}
{% load static %}
{% block title %}
    Business Dashboard
{% endblock %}
{% block additional_head %}
<link href="{% static 'css/business-dashboard.css' %}" rel="stylesheet">
<style>
   .container{
       margin-top: 6rem;
   }
    

</style>
{% endblock %}

{% block main_content %} 

<!-- total service -->
<div class="container">
<div class="row">
    <!-- total service -->
      <div class="col-xl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h3 class="text-success">{{business_service_count}}</h3>
                <p class="mb-0">Total Services</p>
              </div>
              <div class="align-self-center"> 
                <a href="{% url 'postServiceDash' %}"><i class="fa fa-wrench  text-success fa-3x"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    

    <!-- total customer -->
    <div class="col-xl-3 col-sm-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div>
              <h3 class="text-danger">{{customer_count}}</h3>
              <p class="mb-0">Total customer</p>
            </div>
            <div class="align-self-center">
              <i class="fa fa-users text-danger fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- hire request -->
    <div class="col-xl-3 col-sm-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div>
              <h3 class="text-warning">{{hiring_count}}</h3>
              <p class="mb-0">Hire Request</p>
            </div>
            <div class="align-self-center">
              <i class="fas fa-user-friends text-warning fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- total worker -->
    <div class="col-xl-3 col-sm-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div>
              <h3 class="text-info">{{worker_count}}</h3>
              <p class="mb-0">Total Worker</p>
            </div>
            <div class="align-self-center">
              <i class="fas fa-hard-hat text-info fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--Section: Sales Performance KPIs-->
<section class="mb-4">
  <div class="card">
    <div class="card-header text-center py-3">
      <h5 class="mb-0 text-center">
        <strong>Customer Performance</strong>
      </h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Customers</th>
              <th scope="col">Hire Request</th>
              <th scope="col">Reviews</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Total</th>
              <td>18,492</td>
              <td>228</td>
              <td>350</td>
            </tr>
            <tr>
              <th scope="row">Percentage change</th>
              <td>
                <span class="text-danger">
                  <i class="fas fa-caret-down me-1"></i
                    ><span>-48.8%%</span>
                </span>
              </td>
              <td>
                <span class="text-success">
                  <i class="fas fa-caret-up me-1"></i><span>14.0%</span>
                </span>
              </td>
              <td>
                <span class="">
                  <i class="fas me-1"></i><span>46</span>
                </span>
              </td>
              
            </tr>
            <tr>
              <th scope="row">Absolute change</th>
              <td>
                <span class="text-danger">
                  <i class="fas fa-caret-down me-1"></i
                    ><span>-17,654</span>
                </span>
              </td>
              <td>
                <span class="text-success">
                  <i class="fas fa-caret-up me-1"></i><span>28</span>
                </span>
              </td>
              <td>
                <span class="text-success">
                  <i class="fas fa-caret-up me-1"></i><span>111</span>
                </span>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


<!-- for review -->
<section>
    <div class="row">
      <div class="col-xl-6 col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center">
                  <i class="fas fa-pencil-alt text-info fa-3x me-4"></i>
                </div>
                <div>
                  <h4>Total Reviews</h4>
                </div>
              </div>
              <div class="align-self-center">
                <h1>0</h1>
                <!-- <h2 class="h1 mb-0">La review banaya paxi yaha dynamic banau hai</h2> -->
              </div>
            </div>
          </div>
        </div>
      </div>

  </section>

</div>
{% endblock %}

{% block additional_body %}

{% endblock %}


