{% extends 'base/layout.html' %}
{% load bootstrap %}

{% block title %}
Password Change Form
{% endblock %}
{% block additional_head %}

{% endblock %}
{% block main_content %}

<h2 style="text-align:center" > <i class="fas fa-key"></i> Change Password</h2>
<div class="m-4 col-md-6" class="back">
  <a href="{% url 'customer:customerprofile'%}"  class="btn btn-dark btn-sm"> <i class="fas fa-arrow-alt-circle-left"></i> Go Back </a>
</div>

<div class="col-md-6 m-auto">
  {% for alert in messages %}
  <div class="alert alert-danger col-md-12 col-md-offset-4 alert-dismissible fade show " role="alert">
    <strong>  {{ alert }} </strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
 {% endfor %}

  <form action="" method="POST" clas="m-4">
  
    {% csrf_token %}
    {{form|bootstrap_horizontal}}
    <input type="submit" class="m-5 btn btn-primary" value="Change Password">
  </form>
  
</div>
  

{% endblock %}