{% extends 'base/layout.html' %}
{% load static %}
{% block title %}
Services
{% endblock %}

{% block additional_head %}

<link href="{% static 'css/services.css' %}" rel="stylesheet">
<link href="{% static 'css/service-card.css' %}" rel="stylesheet">
{% endblock %}


{% block main_content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-12">
        <div class="card p-4 mt-3">
            <h3 class="heading mt-2 text-center">Services</h3>
            <div class="row mt-4 g-1 px-4 mb-5">
                {% for service in services %}
                 {% include 'links/snippets/service-card.html' with service=service %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}