{% extends 'base/layout.html' %}
{% load static %}
{% block title %}
Services
{% endblock %}

{% block additional_head %}

<link href="{% static 'css/services.css' %}" rel="stylesheet">
{% endblock %}


{% block main_content %}
<div class="row d-flex justify-content-center">
    <div class="col-md-12">
        <div class="card p-4 mt-3">
            <h3 class="heading mt-2 text-center">Services</h3>
            <div class="row mt-4 g-1 px-4 mb-5">
                {% for service in services %}
                <div class="col-md-3 p-3">
                    <div class="card-inner p-3 d-flex flex-column align-items-center"><i class="fas {{service.icon_text}} fa-5x"></i>
                        <div class="text-center mg-text"> <span class="mg-text">{{service.name}}</span> </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% endblock %}