.form-control:focus {
    box-shadow: none;
  }
  
  
  .search-place{
      font-weight: bold;
      color: white;
      text-shadow: 1px 1px black;
     
    
  }
  .search-form {
    background-image: url(../images/1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
  }

  .form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
  }
  