/* .card {
  border: none;
  margin-top: 6rem;

  background: #eee;
} */
.search-result input{
  width : 450px;
  padding: 0;
  margin: 0;
  border-radius: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: 0px;
} 
@media screen and (max-width:981px) {
  .search-result input{
    width: 350px;
  }
}
@media screen and (max-width:782px) {
  .search-result input{
    width: 290px;
  }
}

@media screen and (max-width:772px) {
  .search-result input{
    width: 250px;
  }
}

@media screen and (max-width:681px) {
  .search-result input{
    width:250px;

  }
}
@media screen and (max-width:581px) {
  .search-result input{
    width:150px;

  }
}

@media screen and (max-width:381px) {
  .search-result input{
    width: 100px;
   
  }
}

@media screen and (max-width:282px) {
  .search-result input{
    width: 90px;
   
  }
}



.search-input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 20px;
  transition: width 0.4s linear;
}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  caret-color: #536bf6;
  font-size: 19px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

.search-icon {
  height: 34px;
  width: 34px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #536bf6;
  font-size: 10px;
  bottom: 30px;
  position: relative;
  border-radius: 5px;
}

.search-icon:hover {
  color: #fff !important;
}

a:link {
  text-decoration: none;
}
