<div class="row d-flex justify-content-center">
    <!-- Custom rounded search bars with input group -->
    <div class="col-md-10">
        <form method="GET" action="{% url 'business-list-page' %}">
            <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <button id="button-addon2" type="submit" class="btn btn-link text-warning"><i
                                class="fa fa-search"></i></button>
                    </div>
                    <input type="search" name="q" value="{{query}}" placeholder="What're you searching for?"
                        aria-describedby="button-addon2" class="form-control border-0 bg-light">
                </div>
            </div>
        </form>
    </div>
</div>