<div class="row p-2 bg-white border rounded">
    <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image"
            src="https://i.imgur.com/QpjAiHq.jpg"></div>
    <div class="col-md-6 mt-1">

        <div class="profile-image inline-block"> <img class="inline-block"
                src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg"> </div>
        <h5 class="inline-block">{{obj.name}} <span class="material-icons verified">
                verified
            </span></h5>
        <div class="d-flex flex-row">
            4.7
            <div class="ratings me-2"><span class="material-icons">
                    star
                </span><span class="material-icons">
                    star
                </span><span class="material-icons">
                    star
                </span><span class="material-icons">
                    star
                </span></div><span>310 Reviews</span>
        </div>
        <div class="mt-1 mb-1 spec-1"><span class="badge rounded-pill bg-info">Plumbing</span>
            <span class="badge rounded-pill bg-info">Electrician</span>
        </div>
        <p class="text-justify text-truncate para mb-0">{{obj.description}}<br><br></p>
    </div>
    <div class="align-items-center align-content-center col-md-3 border-start mt-1">
        <div class="d-flex flex-row align-items-center">
            <span class="material-icons">
                room
            </span> {{obj.street_address}}, {{obj.district}}, {{obj.province}}
        </div>
        <h6 class="text-success">Writing Something Here</h6>
        <div class="d-flex flex-column mt-4"><a class="btn btn-primary btn-sm" href="#"
                type="button">Details</a><button class="btn btn-outline-primary btn-sm mt-2" type="button">Request
            </button></div>
    </div>
</div>