{% extends 'base/layout.html' %}
{% load static %}
{% block title %}
Homepage
{% endblock %}

{% block additional_head %}
<link href="{% static 'homepage/index.css' %}" rel="stylesheet">
<link href="{% static 'css/service-card.css' %}" rel="stylesheet">

{% endblock %}

{% block main_content %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card p-4">
                <h3 class="heading mt-5 text-center">How can we help You?</h3>
                <div class="d-flex justify-content-center px-3">
                    <div class="search"> <input type="text" class="search-input" placeholder="Search..." name=""> <a href="#" class="search-icon"> <i class="fa fa-search"></i> </a> </div>
                </div>

                    </div>
                </div>
            </div>

    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card p-4 mt-3">
                <h3 class="heading mt-2 text-center">Popular services</h3>
                <div class="col-lg-3 position-relative">
                    <button class="btn btn-success"><a href="{% url 'customer-services' %}" class="boxed-btn4">View All</a> </button>
                </div>
                <div class="row mt-4 g-1 px-4 mb-5">
                    {% for service in services %}
                    {% include 'links/snippets/service-card.html' with service=service %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}