.success_message, .error_message {
    padding: 0;
    font-family: cursive;
    font-size: 25px;
}
.card {
    font-family: cursive;
    width: 1000px; 
    background-color: #e7dfff;
    border: 2px solid #652efc;
    border-radius: 30px;
}
.card h1 span {
    color: #4300fc;    
}
.card h1 span span {
    color: #008f37;
}
.operation_form {
    width: 800px;
}
.operation_form label {
    float: left;
    width: 130px;
    font-size: 19px;
    font-weight: bold;
}
.operation_form input[type="text"], textarea {
    width: 670px;
    border: 2px solid black;
    border-radius: 8px;
}
.operation_form input:hover, textarea:hover {
    background-color: #b89cfa;
}
.operation_form input:focus, textarea:focus {
    background-color: #b89cfa;
}
.operation_button {
    font-size:18px;
    color: #008f37;
    background-color: #8fffba;
    border-radius: 10px;
}
.operation_button:hover {
    color: white;
    background-color:#008f37;;
}
.search {
    width: 500px;
    background-color: #e7dfff;
    border-radius: 30px;
}
.search h1 {
    color: #652efc;
    font-family: cursive;
}
.search_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search_form label{   
    font-family: cursive;
    font-size: 19px;
    font-weight: bold;
}
.search_form input{  
    margin-right: 16px;
}
.search_form input, .search_form select{   
    font-family: cursive;
    border: 2px solid black;
    border-radius: 8px;
}
.search_form input:hover, .search_form select:hover {
    background-color: #b89cfa;
}
.search_form input:focus, .search_form select:focus {
    background-color: #b89cfa;
}
.search_btn button, .search_btn a {     
    font-family: cursive;
    color: #008f37;
    background-color: #8fffba;
    border-radius: 10px;
}
.search_btn button:hover, .search_btn a:hover { 
    color: white;
    background-color:#008f37;;
}
.table-responsive {
    font-family: cursive;   
    max-height: 685px; 
    margin-right: 50px;
    margin-left: 50px;
}
.edit {
    font-size: 20px;
    color: rgb(255, 115, 0);
}
.remove {
    font-size: 20px;
    color: rgb(255, 0, 0);
}
@media screen and (max-width: 1240px) {
    .card {
        width: 400px;
    }
    .card h1 {
        font-size: 20px;
    }
    .operation_form {
        width: 350px;
    }
    .operation_form label {
        font-size: 16px;
        width: 110px;
    }
    .operation_form input[type="text"], textarea {
        width: 235px;
    }
}
@media screen and (max-width: 675px) {
    .card {
        width: 200px;
    }
    .card h1 {
        font-size: 15px;
    }
    .operation_form {
        width: 125px;
    }
    .operation_form label {
        font-size: 13px;
        width: 85px;
    }
    .operation_form input[type="text"], textarea {
        width: 135px;
    }
    .operation_button {
        font-size: 15px;
    }
}
@media screen and (max-width: 720px) {
    .search {
        width: 200px;
    }    
    .search h1 {
        font-size: 20px;
    }
    .search_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
    .search_form label{  
        font-size: 13px;
        margin-top: 5px;
    }
    .search_form input{  
        margin-right: 0;
    }
}
@media screen and (max-width: 1000px) {
    .table-responsive {
        margin-right: 5px;
        margin-left: 5px;
    }
}