.profile img{
    height: 350px;
    border-radius: 10px;  
    box-shadow: rgb(0, 0, 0, 50%) 0px 0px 10px;
}
.navigate {
    font-family: cursive;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;    
    height: 60px;
    background-color: #5e2ced;
    box-shadow: rgb(0, 0, 0, 50%) 5px 5px 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.Line {
    width: 3px;
    height: 55px; 
    background-color: white;
    border-radius: 5px;
}
.navigate button {
    font-size: 20px;
    color: white;
    border-radius: 0;
}
.navigate button:focus {
   box-shadow: none; 
}
.details {  
    font-family: cursive;
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0, 25%) 0px 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.details div {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.details div div {    
    border-radius: 5px;
    box-shadow: rgb(0, 0, 0, 25%) 0px 0px 5px;
}
.details label{    
    font-size: 30px;    
    font-weight: bold;
    text-shadow: rgb(0, 0, 0, 25%) 0px 0px 5px;
}
.details p{    
    font-size: 30px; 
    color: rgb(77, 77, 77);
    text-shadow: rgb(77, 77, 77, 25%) 0px 0px 5px;
}
.find {
    position: relative;
}
.counter {
    position: absolute;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 50%;
    bottom: 22px;
    right: 1px;
    background-color: white;
}
.reviews .table-responsive, .hires .table-responsive, .notifications .table-responsive{
    border-radius: 5px;
    font-size: 20px;
    font-family: cursive;
    box-shadow: rgb(0, 0, 0, 25%) 0px 0px 5px;
}
.reviews .table-responsive table thead, .hires .table-responsive thead, .notifications .table-responsive thead{    
    background-image: linear-gradient(to right, #36d1dc , #5b86e5 );
}

@media screen and (max-width: 1150px) {
    .profile img{
        height: 250px;
    }
    .reviews .table-responsive, .hires .table-responsive, .notifications .table-responsive{
        font-size: 15px;
    }
}
@media screen and (max-width: 850px) {  
    .profile img{
        height: 150px;
    }
    .navigate {    
        border-radius: 22px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .Line {
        width: 3px;
        height: 38px; 
    }
    .navigate button {
        font-size: 10px;
    } 
    .details label{    
        font-size: 15px; 
    }
    .details p{    
        font-size: 15px; 
    }
    .gallery img {
        height: 150px;
    }
}
@media screen and (max-width: 600px) {  
    .navigate {    
        height: 90px;
        padding-left: 0px;
        padding-right: 0px;   
    }
}
@media screen and (max-width: 470px) {
    .profile img{
        height: 100px;
    }
    .details label{    
        font-size: 10px; 
    }
    .details p{    
        font-size: 10px; 
    }
    .gallery img {
        height: 100px;
    }
}