#Header {
    /* position: fixed; */
    /* top: 0; */
    box-shadow: 0px 1px 5px #5f28f5;
}

#Logo {
    height: 60px;
    width: 60px;
}
#Header .navbar-brand {
    color: #5f28f5;
    font-size: 32px;
    font-family: Cursive;
}
#Header nav h1 span {
    color: #23a455;
}
#Header .nav-link {
    color:black;
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border-radius: 10px;
    position: relative;
}
#Header .nav-link:hover {
    color: #5e2ced;
}
#Header .active {
    color: #5e2ced;
    background-color: #d8ccf8;
}
.navbar-toggler-icon {
    background-image: url("/static/img/navbar/button.png");
}
.sgu,
.lgi,
.lgo {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border-radius: 10px;
}
.sgu {
    color: #00c99c;
    background-color: #d4f6ee;
    margin-left: 5px;
}
.sgu:hover {
    color: white;
    background-color: #23a455;
}
.lgi {
    color: #5e2ced;
    background-color: #d8ccf8;
    margin-left: 5px;
}
.lgi:hover {
    color: white;
    background-color: #5f28f5;
}
.lgo {
    color: #ed2c3c;
    background-color: #f8ccd0;
    margin-left: 5px;
}
.lgo:hover {
    color: white;
    background-color: #f52843;
}
#Profile {
    height: 60px;
    width: 60px;
    position: relative;
}
#Username {
    font-family: cursive;
    font-size: 18px;
    color: #5e2ced;
    text-decoration: none;
}
@media screen and (max-width: 1100px) {
    .sgu,
    .lgi,
    .lgo {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    #Profile,
    #Username {
        display: none;
    }
}
@media screen and (max-width: 575px) {
    #UDA {
        margin-top: 5px;
        display: grid;
        grid-template-columns: 80px;
        grid-gap: 10px 0;
    }
    .sgu,
    .lgi,
    .lgo,
    #Profile,
    #Username {
        display: block;
        margin: 0;
    }
    #Profile {
        position: static;
    }
    #Username {
        width: 300px;
    }
}
