#offcanvas_opener {
    padding:0;
}
#offcanvas_opener span {
    color: #5f28f5;
    font-size: 32px;
}
:root{
    --offcanvas-width: 250px;
    --topNavbarHeight: 70px;
}
.sidebar_nav {
    width: var(--offcanvas-width);
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
    box-shadow: 0px 1px 5px #5f28f5;
}
#Items{
    margin-left: var(--offcanvas-width);
    margin-top: var(--topNavbarHeight);
}