.ProgressBars {
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.ProgressBars .Bar {
    border-radius: 5px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px;
}
.ProgressBars .Bar .circle{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.Bar .circle:hover .box {
    transform: translate(8%, -109%) scale(1.08);
}
.Bar .circle .box {
    transform: translate(8%,-109%);
    background-color: white;
    height: 85%;
    width: 85%;
    border-radius: 50%;
    transition: all 0.5s;
}
.bar {
    transform: rotate(-135deg);
}
.Bar .circle .box span {
    transform: translate(-45%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size:  45px;
    font-weight: 400;
    font-family: cursive;
    background: linear-gradient(to left,#fc1f3c, #652efc, #2dfa7c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.ProgressBars .Bar .text {    
    font-size:  30px;
    font-weight: 400;
    padding-right: 16px;
    font-family: cursive;
    background: linear-gradient(to left, #fc1f3c, #652efc, #2dfa7c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1475px) {
    .ProgressBars {
        gap: 75px;
    } 
}
@media screen and (max-width: 880px) {
    .ProgressBars {
        gap: 50px;
    } 
}
@media screen and (max-width: 590px) {
    .ProgressBars {
        gap: 25px;
    }   
    .ProgressBars .Bar .circle{
        height: 50px;
        width: 50px;
    }.Bar .circle .box span {
        font-size:  20px;
    }
    .ProgressBars .Bar .text {    
        font-size:  15px;
    } 
    .Bar .circle:hover .box {
        transform: translate(5%, -112%) scale(1.08);
    }
    .Bar .circle .box {
        transform: translate(5%,-112%);
    }
}