{% extends 'base/layout.html' %}
{% load static %}
{% load class_tag_filter %}
{% block additional_head %}
<link rel="stylesheet" href="{% static 'business/css/business-list-page.css' %}">
{% endblock %}
{% block main_content %}
<div class="container mt-5 mb-5">
    {% include 'business/snippets/business-advanced-search.html' %}
    <div class="d-flex justify-content-center row">

        {% for object in object_list  %}
        <div class="col-lg-10 col-md-12 m-1">
            {% comment %} To make code easy to read {% endcomment %}
            {% include 'business/snippets/business-card.html' with obj=object customer_bookmarks=customer_bookmarks_business%}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block additional_body %}
<script src="{% static 'customer/js/customer-bookmark-toggle.js' %}"></script>
{% endblock %}