{% load static %}
<div class="container-fluid" id="Header">
    <nav class="navbar navbar-expand-sm">
        <h1>         
            <a class="navbar-brand fw-bold m-0" href="#">Ghar<span>Dailo</span></a>        
            <button class="btn m-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" id="offcanvas_opener" onclick="hideOp()">
                <span class="fas fa-angle-double-right"></span>
            </button> 
        </h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" onclick="setH()">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="ms-auto" id="UDA">  
                <a class="fw-bold" href="" id="Username">Ram Bahudar Shrestha</a>
                <a class="btn lgo" href="">Logout</a>
            </div>
        </div>
    </nav>
</div>
<div class="offcanvas offcanvas-start sidebar_nav" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header ps-0 pe-2 py-0">
        <img class="img-fluid rounded-circle" src="{% static 'img/navbar/logo.png' %}" id="Logo" />
        <a href=""><h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Dash<span>board</span></h4></a>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" id="offcanvas-close" onclick="showOp()"></button>
    </div>
    <div class="offcanvas-body py-0">
        <nav class="navbar">
            <ul class="navbar-nav">
                <li><a href="" class="nav-link active">
                    <span class="fas fa-tools me-2"></span> Services
                </a></li>
                <li><a href="" class="nav-link active">
                    <span class="fas fa-briefcase me-2"></span> Businesses
                </a></li>
                <li><a href="" class="nav-link active">
                    <span class="fas fa-users me-2"></span> Customers
                </a></li>                
                <li><a href="" class="nav-link active">
                    <span class="fab fa-react me-2"></span> Activity
                </a></li>
            </ul>
        </nav>
    </div>
</div>