{% load static %}
<div class="container-fluid" id="Header">
  <nav class="navbar navbar-expand-sm">
    <h1>         
      <a class="navbar-brand fw-bold m-0" href="#">Ghar<span>Dailo</span></a>        
      <button class="btn m-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" id="offcanvas_opener">
          <span class="fas fa-angle-double-right"></span>
      </button> 
    </h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ms-auto" id="UDA">  
      <a class="fw-bold" href="" id="Username">Ram Bahudar Shrestha</a>
      <a class="btn lgo" href="">Logout</a>
      </div>
    </div>
  </nav>
</div>