{% load static %}
<div class="container-fluid" id="Header">
  <nav class="navbar navbar-expand-sm">
    <h1>
      <img class="img-fluid rounded-circle" src="{% static 'img/navbar/logo.png' %}" id="Logo" />
      <a class="navbar-brand fw-bold" href="#">Ghar<span>Dailo</span></a>
    </h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-sm-1">
          <a class="nav-link {{ active_home }}" href="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-sm-1">
          <a class="nav-link {{ active_service }}" href="{% url 'Services' %}">Services</a>
        </li>
        <li class="nav-item mx-sm-1">
          <a class="nav-link" href="">Gallery</a>
        </li>
        <li class="nav-item mx-sm-1">
          <a class="nav-link" href="">About Us</a>
        </li>
      </ul>
      <div class="mt-3 me-4" id="UDA">
        {% if user.is_authenticated %}
          <img class="img-fluid rounded-circle mb-2 me-1" id="Profile" src="{% static 'img/profile/male.jpg' %}" />
        {% endif %}
        <span class="fas fa-caret-down dropdown-opener" onclick="open_dropdown()"></span>
        <div class="dropdown-content">
          {% if user.is_authenticated %}
            <a class="mb-1 fw-bold {{ active_profile }}" href="" id="Username">Ram Bahudar Shrestha</a> 
            <li class="dropdown-divider"></li>
            <a class="mb-1 lgo" href="/logout">Log out</a>
          {% else %}
            <a class="mb-1 lgi {{ active_login }}" href="/login">Login</a>
            <li class="dropdown-divider"></li>
            <a class="mb-1 sgu {{ active_customer_register }}" href="/register">Sign up for customer</a>
            <li class="dropdown-divider"></li>
            <a class="sgu {{ active_business_register }}" href="/mybusiness/register/">Sign up for business</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</div>
