<ul class="nav navbar-nav navbar-right mt-4 me-4">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false"><i class="fas fa-bell fa-lg"></i></a>
        <ul class="dropdown-menu notify-drop pull-right">
            <div class="notify-drop-title">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">Notifications(<b>2</b>)</div>
                </div>
            </div>
            <!-- end notify title -->
            <!-- notify content -->
            <div class="drop-content">
                <div class="notifications-item"> <img src="https://i.imgur.com/uIgDDDd.jpg" alt="img">
                    <div class="text">
                        <h4>Samso aliao</h4>
                        <p>Samso Nagaro Like your home work</p>
                    </div>
                </div>
            </div>
            <div class="notify-drop-footer text-center">
                <a href=""><i class="fa fa-eye"></i> View All</a>
            </div>
        </ul>
    </li>
</ul>