@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

/* :root{
    --green:rgb(23, 104, 151);
} */

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    /* background:var(--green); */
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:grey;
}

body{
    /* background-image: linear-gradient(rgba(255, 254, 254, 0.952), rgb(253, 252, 252),black); */
    overflow-x: hidden;
    padding-left: 30rem;
}

section{
    min-height: 70vh;
    padding:1rem;
}

/* .btn{
    padding:.7rem 3rem;
    background:#5e2ced;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
} */

/* .btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:#8461e4;
} */

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: 0.16rem solid #8461e4;
    /* box-shadow: 0px 1px 5px #5f28f5; */
    color:black;
}

.heading span{
    font-weight: bolder;
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:30rem;
    box-shadow: 0px 1px 5px #5f28f5;
    background:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    /* border:.3rem solid #8461e4 ; */
}

header .user .name{
    font-size: 3.5rem;
    color:black;
}

header .user .post{
  font-size: 2rem;
  color:black;
}

header .user .post .str{
    font-size: 2rem;
    color:orange;
}

header .navbar1{
    width:100%;
}

header .navbar1 ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar1 ul li a{
    display: block;
    padding:0.8rem;
    margin:1rem 0;
    background:#5e2ced;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
    text-decoration: none;
}

header .navbar1 ul li a:hover{
    background:#8461e4;
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:black;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    min-height: 50vh;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:rgb(255, 255, 255);
}

.home h1{
    font-size:5rem;
    color:rgb(255, 255, 255);
}

.home h1 span{
    font-weight: bold;
}

.home p{
    font-size:2rem;
    color:rgb(255, 255, 255);
    padding: 1rem 0;
    text-align: justify;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    font-weight: bold;
    padding:1rem 0;
    font-weight: bold;
}

.about .row .info h3 span{
    color:black;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#8461e4;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:white;
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:black;
}

.employee .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.employee .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.employee .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.employee .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:black;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:black;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:black;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:green;
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}
.review_form {  
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}
.review_form form {  
    display: flex;
    flex-direction: column;
    gap: 8px;  
    align-items: flex-start;
}
.comment_div {
    display: flex;
    flex-direction: column;
}
#id_comment {
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px 5px 2px 5px;
    height: 150px;
}
#id_comment:focus{
    background:#8461e4;
}

.review_button {    
    background-color: #008f37;
    border-radius: 20px;
    box-shadow: rgb(51, 50, 50) 2px 2px 5px;
    padding: 3px 20px 3px 20px;
}
.form_closer {  
    background-color: red;
    border-radius: 20px;
    box-shadow: rgb(51, 50, 50) 2px 2px 5px;
    padding: 3px 20px 3px 20px;
}
.reviews {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-left: 10%;
    margin-right: 10%;
    height: 480px;
}
.comment_editor {    
    background-color: orange;
    border-radius: 20px;
    box-shadow: rgb(51, 50, 50) 2px 2px 5px;
    padding: 3px 20px 3px 20px;
}
.customer_reviews {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: flex-start;
}
.customer_image  {
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.customer_image img {
    height: 100px;
    width: 100px;
}
.customer_image .rated {
   color: #FF9529;
}
.customer_image .not_rated {
    color: #FF9529;
 }
/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

    header{
        left:-120%;
    }
 
    #menu{
        display: hide;
    }
 
    header.toggle{
     left:0%;
    }
 
    body{
        padding:0;
    }
 
 }

@media (max-width:768px){

    html{
        font-size: 50%;
    }
    .customer_image img {
        height: 50px;
        width: 50px;
    }
    .review_form { 
        font-size: 10px;
    }
    .review_button, .form_closer, .comment_editor {        
        border-radius: 5px;
        padding: 3px 10px 3px 10px;
    }
    #id_comment {
        height: 75px;
    }
    .customer_reviews {
        font-size: 15px;
    }
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }


 /*--------------------------------------------------------------
# Services card
--------------------------------------------------------------*/
.primary{
    background-color: #F8FBFE;
  }
  .services .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.05);
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }
  
  .services .icon-box .icon i {
    font-size: 36px;
    transition: 0.5s;
    position: relative;
  }
  
  .services .icon-box .icon svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .services .icon-box .icon svg path {
    transition: 0.5s;
    fill: #f5f5f5;
  }
  
  .services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }
  
  .services .icon-box h4 a {
    color: #124265;
    transition: ease-in-out 0.3s;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    border-color: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  }
  
  .services .iconbox-blue i {
    color: #47aeff;
  }
  
  .services .iconbox-blue:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-blue:hover .icon path {
    fill: #47aeff;
  }
  
  .services .iconbox-orange i {
    color: #ffa76e;
  }
  
  .services .iconbox-orange:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-orange:hover .icon path {
    fill: #ffa76e;
  }
  
  .services .iconbox-pink i {
    color: #e80368;
  }
  
  .services .iconbox-pink:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-pink:hover .icon path {
    fill: #e80368;
  }
  
  .services .iconbox-yellow i {
    color: #ffbb2c;
  }
  
  .services .iconbox-yellow:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-yellow:hover .icon path {
    fill: #ffbb2c;
  }
  
  .services .iconbox-red i {
    color: #ff5828;
  }
  
  .services .iconbox-red:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-red:hover .icon path {
    fill: #ff5828;
  }
  
  .services .iconbox-teal i {
    color: #11dbcf;
  }
  
  .services .iconbox-teal:hover .icon i {
    color: #fff;
  }
  
  .services .iconbox-teal:hover .icon path {
    fill: #11dbcf;
  }
  