.ratings span {
  color: orange;
}

.strike-text {
  color: red;
  text-decoration: line-through;
}

.product-image {
  width: 100%;
  height: 200px;
}
.spec-1 {
  color: #938787;
  font-size: 15px;
}

h5 {
  font-weight: 400;
}

.para {
  font-size: 16px;
}

.profile-image img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.inline-block {
  display: inline-block;
}

.verified {
  color: blue;
}

@media screen and (max-width: 768px) {
  .product-image {
    display: none;
    /*     height: 270px; */
  }
}

.bookmark-icon {
  color: #e27d60;
}
