{% extends 'base/admin_layout.html' %}
{% load static %}
{% block title %}
    Admin Dashboard
{% endblock %}
{% block additional_head %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block main_content %}
    <div class="container-fluid pt-2" id="Items">
        <div class="d-lg-flex flex-row justify-content-around">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
              <div class="card-header">Total Users</div>
              <div class="card-body">
                <h5 class="card-title text-center">{{user}}</h5>
              </div>
          </div>
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">Services</div>
            <div class="card-body">
              <h5 class="card-title text-center">{{service}}</h5>
            </div>
          </div>
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">Businesses</div>
            <div class="card-body">
              <h5 class="card-title text-center">{{business}}</h5>
              <h5 class="card-title text-center">Gallery: {{gallery}}</h5>
              <h5 class="card-title text-center">Worker: {{worker}}</h5>
            </div>
          </div>
          <div class="card text-dark bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">Customers</div>
            <div class="card-body">
              <h5 class="card-title text-center">{{customer}}</h5>
              <h5 class="card-title text-center">Notification: {{notification}}</h5>
            </div>
          </div>
          <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Hiring</div>
            <div class="card-body">
              <h5 class="card-title text-center">{{hiring}}</h5>
            </div>
          </div>
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">Reviews</div>
            <div class="card-body">
              <h5 class="card-title text-center">{{review}}</h5>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block additional_body %}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}


